*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.lapMain{
    background-size: cover;
    height: 100vh;
    background-image: url(assets/bg2.jpg);
}

.phoneMain{
    display: none;
}

#half{
    width: 800px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding-bottom: 130px;
    margin-bottom: 45.5px;
    border-bottom-right-radius: 100px;

}

.container{
    display: flex;
}

#lapSymbol{
    padding-top: 200px;
    padding-left: 240px;
    padding-bottom: 0px;
    transition: .3s ease;
}

#lapSymbol:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);

    
}

#lapLogo{
    
    padding-left:20px;
}

#logoName{
    font-size:50px;
    font-weight: bolder;

}







.lapMid{
    margin-top: 70px;
    font-size:20px;
    padding-left: 100px;
    
}

.lapMidLog{
    margin-top:150px;
    font-size: 20px;
    padding-left: 100px
}

#lapReg{
    padding-right: 200px;
    font-style: monospace;
    font-variant: small-caps;
    font-size:50px;
    font-weight: bolder;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    border-color: black;
}

.lapInp{
    padding-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
}

.lapRegCusIn{
    background:transparent;
    border-width:0px;
    border-bottom-width:3px;
    border-bottom-color: black ;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    padding: 5px;
    color:rgb(0, 0, 0);
}

.lapRegCusIn::placeholder{
    color: black;
    font-weight:400;
    font-weight: bold;
}



#lapRegBut{
    position: absolute;
    bottom: 210px;
    right: 390px;
    font-size: 14px;
    font-weight:bold;
    font-family: monospace;
    background-color:rgba(0, 164, 11, 0.658);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    padding:2px 4px;
    border-radius: 5px;
    transition: .3s ease;
}

#lapRegBut:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    backdrop-filter: blur(0px);
    background-color:rgba(0, 255, 47, 0.864)
}

#lapLogBut{
    position: absolute;
    right: 390px;
    bottom: 310px;
    font-size: 14px;
    font-weight:bold;
    font-family: monospace;
    background-color:rgba(0, 164, 11, 0.658);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    padding:2px 4px;
    border-radius: 5px;
    transition: .3s ease;
}

#lapLogBut:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    backdrop-filter: blur(0px);
    background-color:rgba(0, 255, 47, 0.864)
}

.lapToLogIn{
    position:absolute;
    transition: .3s ease;
    border-radius: 5px;
    bottom: 160px;
    right: 360px;
    padding: 5px 10px 0px;
    font-family: monospace;
    font-weight: bold;
}

.lapToRegIn{
    font-family: monospace;
    font-weight: bold;
    position:absolute;
    transition: .3s ease;
    border-radius: 5px;
    bottom: 260px;
    right: 390px;
    padding: 5px 10px 0px;
}

    



.logo{
    padding: 10px;
    
}

.com{
    font-size: 25px;
    font-family:monospace;
    font-weight: bold;
    
}

.navBar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    
}

.navBar .logo{
    margin: 10px 0;
    cursor: pointer;
}
