body {
    background-image: linear-gradient(90deg,rgba(131, 130, 130, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/bg6.avif);
    background-position: center;
    background-size: cover;
}
.container {
    width: 820px;
    height: 500px;
    margin: 2% auto;
    background: #fff;
    border-radius: 8px;
    position: fixed;
    top: 100px;
    border: 1px solid #000;
    margin-left: 5%; 
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #000000;
    font-size: 24px;
    background-color: rgb(216, 205, 174);
    height: 40px;
    border-radius: 10px;
}

h4{
    padding-left: 15px;
    margin-bottom: -5px;
}
.personal{
    background-color:rgb(245, 156, 112);
    padding-top: 10px;
    border-radius: 10px;
}
.personal input{
    background-color: rgb(245,156,112);
}
.question{
    background-color: rgb(162, 195, 137);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
}
.question input{
    background-color: rgb(162,195,137);
}
.container form {
    width: 760px;
    height: 460px;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 30px;
    transition: 0.5s;
}

form::-webkit-scrollbar{
    display: none;
}

form li {
    list-style: none;
    font-size: medium;
    width: 94%;
    padding: 15px 15px;
    margin: 5px;
    border: 0;
    border-bottom: 2px solid #ffffff;
    outline: none;
    background: transparent;
}

form input {
    border: 0;
    outline: none;
    padding-top: 8px;
}

::placeholder {
    color: #000000;
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    background: linear-gradient(to right, #0e8e00, #40ff00);
    border-radius: 7px;
    border: 2px solid black;
    outline: none;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s; 
    font-size: 17px
}

form button:hover {
    transform: scale(1.15); 
}

/* navbar */

#lapNav{
    position: fixed;
    top: 0px;
    left: 0px;
    width:1476px;
    background-color:rgb(53, 53, 53);
    padding: 15px 30px;
    box-shadow: 0px 15px 15px rgb(32, 32, 32);
    display: flex;
    z-index: 1;
}

.lapLogo{
    filter: invert(1);
}

.lapCom{
    font-size:30px;
    font-family: monospace;
    font-weight: bolder;
    position: absolute;
    top: 20px;
    left: 90px;
    color: white;
}

.lapIcons{
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    display: flex;
    
}

.icon{
    padding:0px 20px;
    transition: .3s ease;
    filter: invert(1)
}

.icon:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter:invert(1) drop-shadow(4px 4px 2px black);
    cursor: pointer;
}

.lapHome{
    border: 0px;
    background-color: transparent;
    position: absolute;
    left: 315px;
    top: 33px;
    font-family: monospace;
    font-size: 16px;
    transition: 0.3s ease;
    color: white;
}

.lapHome:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgb(34, 34, 34));
    cursor: pointer;
}

.lapAbout{
    border: 0px;
    background-color: transparent;
    position: absolute;
    left: 380px;
    top: 33px;
    font-family: monospace;
    font-size: 16px;
    transition: 0.3s ease;
    color: white;
}

.lapAbout:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgb(34, 34, 34));
    cursor: pointer;
}

.out{
    border: 0px;
    background-color: transparent;
    position: absolute;
    left: 450px;
    top: 33px;
    font-family: monospace;
    font-size: 16px;
    font-style:normal;
    text-decoration: none;
    transition: 0.3s ease;
    color: rgb(255, 255, 255);
    
}

.out:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgb(34, 34, 34));
}

/* Image */

.img {
    position: fixed;
    top: 130px;
    right: 90px; 
    width: 620px;
    height: auto; 
    transition: transform 0.3s;
    z-index: -1;
}

/* .img:hover {
    transform: scale(1.1); 
} */

.tri-image {
    width: 100%;
    height: auto;
}




