* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/miniProject/assets/bg2.jpg);
    background-size: cover;
}

.container {
    width: 455px;
    height: 610px;
    margin: 8% auto;
    background: #fff;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 7px solid #000;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    color: #777;
}

.container form {
    width: 330px;
    position: absolute;
    top: 60px;
    left: 40px;
    transition: 0.5s;
}

form li {
    list-style: none;
    font-size: medium;
    width: 100%;
    padding: 15px 10px;
    margin: 5px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

form input {
    border: 0;
    outline: none;
    padding-top: 8px;
}

::placeholder {
    color: #777;
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 110px;
    height: 35px;
    margin: 0 25px;
    background: linear-gradient(to right, #232323, #838383);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#Form2 {
    left: 550px;
}

#Form3 {
    left: 550px;
}

#Form4 {
    left: 550px;
}

.step-row {
    width: 455px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step_col {
    width: 114px;
    text-align: center;
    color: #333;
    position: relative;
}

#progress {
    position: absolute;
    height: 100%;
    width: 114px;
    background: linear-gradient(to right, #232323, #838383);
    transition: 1s;
}

#progress::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -19px;
    top: 0;
    border-left: 20px solid #838383;
}


/*Nav*/


.blur{
    backdrop-filter: blur(3px);
    padding-bottom: 63px;
}


#lapNav{
    position: fixed;
    top: 0px;
    width:100%;
    background-color:rgb(53, 53, 53);
    padding: 15px 30px;
    box-shadow: 0px 15px 15px rgb(32, 32, 32);
    display: flex
}

.lapLogo{
    filter: invert(1);
}

.lapCom{
    font-size:30px;
    font-family: monospace;
    font-weight: bolder;
    position: absolute;
    top: 20px;
    left: 90px;
    color: white;
}

.lapIcons{
    position: absolute;
    right: 91px;
    top: 1.5rem;
    display: flex;
    
}

.icon{
    padding:0px 20px;
    transition: .3s ease;
    filter: invert(1)
}

.icon:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter:invert(1) drop-shadow(4px 4px 2px black);
    cursor: pointer;
}

.lapHome{
    border: 0px;
    background-color: transparent;
    position: absolute;
    left: 315px;
    top: 33px;
    font-family: monospace;
    font-size: 16px;
    transition: 0.3s ease;
    color: white;
}

.lapHome:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgb(34, 34, 34));
    cursor: pointer;
}

.lapAbout{
    border: 0px;
    background-color: transparent;
    position: absolute;
    left: 380px;
    top: 33px;
    font-family: monospace;
    font-size: 16px;
    transition: 0.3s ease;
    color: white;
}

.lapAbout:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgb(34, 34, 34));
    cursor: pointer;
}

.out{
    border: 0px;
    background-color: transparent;
    position: absolute;
    left: 450px;
    top: 33px;
    font-family: monospace;
    font-size: 16px;
    font-style:normal;
    text-decoration: none;
    transition: 0.3s ease;
    color: rgb(255, 255, 255);
    
}

.out:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    filter: drop-shadow(5px 3px 2px rgb(34, 34, 34));
}
